<div class="content">
  <h2>
    <%= @list.name %>
  </h2>

  <ul>
    <% if @ingredient.bought = true %>
      <h4>To buy</h4>
      <% @list.ingredients.each do |ingredient| %>
        <li style="list-style-type:none;"> <i class="far fa-square"></i> &nbsp; &nbsp;<%= ingredient.name %></li>
      <% end %>
    <% else %>
      <h4>completed</h4>
      <% @list.ingredients.each do |ingredient| %>
        <li style="list-style-type:none;"><i class="far fa-check-square"></i><%= ingredient.name %></li>
      <% end %>
    <% end %>
  </ul>


  <br>
  <br>

  <div>
    <%= render 'ingredients/form' %>
  </div>
</div>
