<div class="content show">
  <h2>
    <%= @list.name %>
  </h2>

 <%= render 'lists/ingredients' %>

  <br>
  <br>
  <hr>
  <div>
    <%= render 'ingredients/form' %>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

