<div class="footer">
  <div class="footer-items">

  <%= link_to lists_path do %>
    <div class="item-container">
      <div class="icon">
        <i class="fas fa-list-ul"></i>
      </div>
      <div class="text">
        <p>Lists</p>
      </div>
    </div>
  <% end %>

  <%= link_to "#" do %>
    <div class="item-container">
      <div class="icon">
        <i class="fas fa-chart-pie"></i>
      </div>
      <div class="text">
        <p>Stats</p>
      </div>
    </div>
  <% end %>

  <%= link_to recipes_path do %>
    <div class="item-container">
      <div class="icon">
        <i class="fas fa-utensils"></i>
      </div>
      <div class="text">
        <p>Recipes</p>
      </div>
    </div>
  <% end %>

  </div>
</div>
