<h2 class="text-center">Add a new igredient</h2>

<div class="contaier">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <%= simple_form_for [@list, @ingredient] do |f| %>
          <%= f.input :name, placeholder: "carrots" %>
          <%= f.submit "add an ingredient", class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
</div>
