<div class="content">

  <div class="text-center">
    <form id="search-recipes" class="form-inline">
      <input type="text" id="keyword" class="form-control" placeholder="Find recipes">
      <div class="spacing"></div>
      <input type="submit" class="btn btn-primary" value="Search">
    </form>

    <ul id="results" class="list-inline"></ul>
  </div>

</div>

<br>
<br>
<br>
<br>
